/* Reset some default margin and padding for consistency */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7; /* Light gray background */
}

/* Navigation styling */
nav {
    background-color: #333; /* Dark gray background for navigation */
    color: white;
    padding: 10px;
    text-align: center;
}

nav img {
    margin-right: 10px;
}

a.button {
    color: white;
    background-color: #007bff; /* Bootstrap's primary color */
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 20px;
}

/* Section styling */
section {
    margin: 20px;
}

.text1{   
    background-color: white;
    padding: 20px;
    width: 900px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.side{
    background-color: white;
    position: absolute;
    width: 500px;
    top: 19%;
    right: 3%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.next{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.text2{
    margin-top: 20px;
    padding: 20px;
    clear: right; /* Ensure text2 clears the 'side' div */
}

.card1{
    position:-ms-page;
    width: 920px;

}

.text2, .next {
    margin-top: 20px;
}

/* Aside styling */
aside {
    float: right;
    width: 30%; /* Adjust as needed */
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Image styling */
img {
    display: block;
    margin: 20px auto; /* Center the image */
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}
